@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ManjTube</h1>
    <p>DO NOT CLICK <a href="https://images.app.goo.gl/eLvhX4BdCS8mn1pv6">I WARNED YOU</a>.</p>
</div>
